Master-slave sub-system/Project3Task1Client/src/META-INF/wsdl/localhost_8080/Project3Task1Server/SensorServer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://jiamingx.edu.cmu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://jiamingx.edu.cmu/">

<xs:element name="getRoomStatusMsg" type="tns:getRoomStatusMsg"/>

<xs:element name="getRoomStatusMsgResponse" type="tns:getRoomStatusMsgResponse"/>

<xs:element name="roomChangeinStatus" type="tns:roomChangeinStatus"/>

<xs:element name="roomChangeinStatusResponse" type="tns:roomChangeinStatusResponse"/>

<xs:complexType name="getRoomStatusMsg">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getRoomStatusMsgResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomChangeinStatus">
<xs:sequence>
<xs:element name="sensorID" type="xs:string" minOccurs="0"/>
<xs:element name="timeStamp" type="xs:string" minOccurs="0"/>
<xs:element name="roomStatusMsg" type="xs:string" minOccurs="0"/>
<xs:element name="signature" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomChangeinStatusResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>